.font {
  font-family: 'Oswald', sans-serif;
}

.shop::after {
  position: absolute;
  content: "\25bc";
  font-weight: 900;
  font-size: 15px;
  right: -17px;
  top: 1px;
  /* color: #f7f2f2; */
}

.polygon{
  background: #c7c3c3;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding-left: 20px;
}
.img{
  position: absolute;
  left: -20px;
}

