.font {
  font-family: 'Oswald', sans-serif;
}

.shop::after {
  position: absolute;
  content: "\25bc";
  font-weight: 900;
  font-size: 15px;
  right: -17px;
  top: 1px;


}

.polygon {
  background: #c7c3c3;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding-left: 20px;
}

.img {
  position: absolute;
  left: -20px;
}

.shipping-bg::before {
  content: '';
  top: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.card-parent {
  transition: .6s ease;
}

.order-btn {
  transition: .3s;
  left: 29%;
  z-index: -1;
}

.card-parent:hover .order-btn {
  bottom: 88px;
  left: 29%;
  z-index: 1;
}

.headlight {
  background: #e52727c6;
  clip-path: polygon(0 0, 100% 0%, 69% 100%, 0% 100%);
  height: 100%;
}

.gradient {
  background-image: linear-gradient(to right top, #516290, #4662a9, #3862c1, #2460d9, #005ef0);
  color: white;
}

.img-card {
  width: 150px;
}

.register {
  height: 100vh;
  background: #6358DC;
  clip-path: polygon(0 0, 100% 0%, 69% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* paginate style  */
.paginateContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
  flex-wrap: wrap;
}

.page-btn {
  padding: 1rem;
  margin: 0 1rem;
}

.previous {
  color: #fff;
  background-color: rgb(9, 177, 244);
  padding: 1rem 1.6rem;
  border-radius: .5rem;
}

.active-btn {
  background: rgb(9, 177, 244);
  color: #fff;
  border-radius: .3rem;
  /* padding: 1rem; */
}

.link-btn {
  text-decoration: none;
  color: #fff;
}




@media screen and (max-width:518px) {
  .paginateContainer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
    flex-wrap: wrap;
  }

  .page-btn {
    padding: .7rem;
    margin: 0 .6rem;
  }

  .previous {
    color: #fff;
    background-color: rgb(9, 177, 244);
    padding: .7rem 1.2rem;
    border-radius: .5rem;
  }

  .active-btn {
    background: rgb(9, 177, 244);
    color: #fff;
    border-radius: .3rem;
    /* padding: 1rem; */
  }

  .link-btn {
    text-decoration: none;
    color: #fff;
  }



}

.td {
  color: black !important;
}


@media screen and (max-width:998px) {
  .register {
    display: none;
  }
}

.td {
  color: black !important;
}


.slick-prev:before {
  color: black !important;
}